pymupdf
python-docx
unstructured
langchain
langchain-community
pypdf
python-docs
markdown
openai-whisper
torch
Pylance
pydantic
langchain_text_splitters
langchain_huggingface
langchain_ollama
qdrant-client
neo4j
spacy
rouge_score
ragas
datasets==3.6.0
numpy
rank-bm25
transformers
torch
torchvision
Pillow
rasterio